*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 10px;
    font-family: 'Poppins';
}
.for-buttons{
    max-width: 1250px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    margin-top: 10rem;

    @media screen and (max-width: 1269px){   
        max-width: 1000px;
    }
    
    @media screen and (max-width: 1030px){    
        max-width: 750px;
    }
    @media screen and (max-width: 770px){    
        max-width: 500px;
    }
    @media screen and (max-width: 500px){
        max-width: 250px;
    }
}
.swiper-container {
    position: relative;
    padding: 10rem 0rem;
    margin: 0 auto;
    max-width: 1250px;
    
    

    @media screen and (max-width: 1269px){   
        max-width: 1000px;
    }
    
    @media screen and (max-width: 1030px){    
        max-width: 750px;
    }
    @media screen and (max-width: 770px){    
        max-width: 500px;
    }
    @media screen and (max-width: 500px){
        max-width: 250px;
    }

    .swiper-wrapper{
        max-width: 1250px;
    }
   
    .swiper-slide{
        height: 400px;
        width: 250px;
        cursor: grab;
      
       img{
        height: 400px;
        width: 250px;
        object-fit: cover;
        filter: brightness(70%);
        transition: 700ms;

            &:hover{
                filter: brightness(95%)
            }
        }

        .image-overlay{
            z-index:1000;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -80%);
  
            .overlay-title{
                color: white;
                font-size: 2.6rem;
                font-weight: 600;
                text-align: center;
            }
  
            .overlay-link{
                text-decoration: none;
                color: white;   
                padding: .5rem;
                background:#FF4568;
                width: 9rem;
                border-radius: 0rem;
                font-weight: 400;
                font-size: 1.25rem;
                display: flex;
                justify-content: center;
            }
         }
    }
}

.swiper-button-next, .swiper-button-prev {
    
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    color:#042848;
    background-color:white;
    outline: none;
    box-shadow:0px 5px 20px 1px black;
    transition: 200ms;
    overflow: visible;


    &:hover{
        color: #FF4568;
        // box-shadow:1px 1px 20px 5px #0088ff;
    }

   
}

.swiper-button-next{
    position: absolute;
    top: 75%;
    transform: translateX(70%);
    // transform: translate(-325%, -175%);
    
}

.swiper-button-next::after{
    font-family: 'FontAwesome';
    font-style: normal;
    content: '\f105  ';
    font-weight: 100;
    
    font-size: 3rem;
    transform: translate(15%);
}

.swiper-button-prev::after{
    font-family: 'FontAwesome';
    font-style: normal;
    content: '\f104';
    font-size: 3rem;
    transform: translate(-15%);
}

.swiper-button-prev {
   
    position: absolute;
    top: 75%;
    transform: translateX(-70%);
}

.for-buttons{
    display: none;
}

// MAP START 

$tooltip-color: #333;
$arrow-size: 10px;
$translate-y: -100%;

.map-layout-container{
    display: grid;
    grid-template-columns:1.25fr 1fr;
    padding-top: 10rem;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    gap: 2rem;

    @media only screen and (max-width: 1250px) {
        grid-template-columns: 1fr;
    }
}

.map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
   
    // background-color: rgb(0, 0, 0);
}

.map-wrapper{
    display: flex;
    color: #22001c;
    justify-content: center;
    width: 700px;
    position: relative;
   
    // background: #042848;
  
    img{
        
        // height: 90vh;
        height: 450px;
        width: 680px;
    }

    .map-image{
        font-size: 1.6rem;
        background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601384773/dehradun_1_co5xep.jpg");
        background-size: cover;
        background-position: center;
        height: 70px;
        width: 75px;
        background-color: black;
        opacity: 1;
        position: absolute;
        border-radius: 1rem;

        &.loc-dehradun{

            top: 30px;
            left: 102px;
        }

        &.loc-noida{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601384978/Noida_1_sjige7.jpg");
            top: 14px;
            left: 365px;
        }

        &.loc-indore{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
            top: 40px;
            left: 450px;
        }

        &.loc-pune{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601385060/pune_azai6s.jpg");
            top: 100px;
            left: 625px;
        }

        &.loc-mumbai{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601225254/mumbai_1_fd3mob.jpg");
            top: 210px;
            left: 550px;
        }

        &.loc-hyderabad{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226139/hyderabad_1_ejktyp.jpg");
            top: 300px;
            left: 620px;
        }

        &.loc-chennai{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601225972/chennai_1_ixxd9j.jpg");
            top: 310px;
            left: 455px;
        }

        &.loc-bangalore{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226030/bangalore_1_mjbpxu.jpg");
            top: 380px;
            left: 357px;
        }

        &.loc-ahmedabad{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226300/ahmedabad_1_o6bsdi.jpg");
            top: 360px;
            left: 96px;
        }
        &.loc-kota{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226595/kota_1_t3vuwm.jpg");
            top: 270px;
            left: 1px;
        }
        &.loc-gurgaon{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226298/gurgaon_1_rgmlg6.jpg");
            top: 200px;
            left: 80px;
        }
        &.loc-delhi{
            background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601384766/delhi_1_nd3v7r.jpg");
            top: 105px;
            left: 26px;
        }


        &::before, &::after{
            $scale: 0;
            position: absolute;
            top: -.25rem;
            left: 50%;
            transform: translateX(-50%) translateY($translate-y) scale($scale);
            transition: 200ms transform;
            transform-origin: bottom center;
            
            }
      
      
            &::before {
              $translate-y: -100% ;
              content: attr(data-tooltip);
              color: white;
              padding: .5rem;
              border-radius: .3rem;
              background: $tooltip-color;
              width: max-content;
            }
            
           &:hover::before{
             $scale: 1;
             transform: translateX(-50%) translateY($translate-y) scale($scale);
           } 
      
           &:hover::after{
            $translate-y: 0px;
            $scale: 1;
            transform: translateX(-50%) translateY($translate-y) scale($scale);
      
           }
      
           &::after{
             content: '';
             border: $arrow-size solid transparent;
             border-top-color: $tooltip-color;
             transform-origin: top center;
           }
        
    }

    
}

.map-info{
    display: flex;
    flex-direction: column;
    
    h2{
        font-size: 4.2rem;
        line-height: 4.5rem;
    }
    h5{
        font-size: 2rem;
    }
    li{
        text-decoration: none;
        font-size: 2.3rem;
        color: #333;
        list-style-type: none;
        line-height: 3.9rem;
    }
}

.info-headings{
    padding-bottom: 3rem;
}
.info-cities{
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    
        @media only screen and (max-width: 1250px){
            grid-template-columns: repeat(4, 1fr);
        }
    }
   
   
}


// MAP END

// CAROUSEL CHANGE


@media screen and (max-width: 1050px) {
    .for-buttons{
        display: block;

    }

    .map-container, .map-info{
        display: none;
    }
  }