* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Poppins';
}

.for-buttons {
  max-width: 1250px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: 10rem;
}

@media screen and (max-width: 1269px) {
  .for-buttons {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1030px) {
  .for-buttons {
    max-width: 750px;
  }
}

@media screen and (max-width: 770px) {
  .for-buttons {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .for-buttons {
    max-width: 250px;
  }
}

.swiper-container {
  position: relative;
  padding: 10rem 0rem;
  margin: 0 auto;
  max-width: 1250px;
}

@media screen and (max-width: 1269px) {
  .swiper-container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1030px) {
  .swiper-container {
    max-width: 750px;
  }
}

@media screen and (max-width: 770px) {
  .swiper-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .swiper-container {
    max-width: 250px;
  }
}

.swiper-container .swiper-wrapper {
  max-width: 1250px;
}

.swiper-container .swiper-slide {
  height: 400px;
  width: 250px;
  cursor: -webkit-grab;
  cursor: grab;
}

.swiper-container .swiper-slide img {
  height: 400px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: 700ms;
  transition: 700ms;
}

.swiper-container .swiper-slide img:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.swiper-container .swiper-slide .image-overlay {
  z-index: 1000;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
}

.swiper-container .swiper-slide .image-overlay .overlay-title {
  color: white;
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
}

.swiper-container .swiper-slide .image-overlay .overlay-link {
  text-decoration: none;
  color: white;
  padding: .5rem;
  background: #FF4568;
  width: 9rem;
  border-radius: 0rem;
  font-weight: 400;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-next, .swiper-button-prev {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  color: #042848;
  background-color: white;
  outline: none;
  -webkit-box-shadow: 0px 5px 20px 1px black;
          box-shadow: 0px 5px 20px 1px black;
  -webkit-transition: 200ms;
  transition: 200ms;
  overflow: visible;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #FF4568;
}

.swiper-button-next {
  position: absolute;
  top: 75%;
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

.swiper-button-next::after {
  font-family: 'FontAwesome';
  font-style: normal;
  content: '\f105  ';
  font-weight: 100;
  font-size: 3rem;
  -webkit-transform: translate(15%);
          transform: translate(15%);
}

.swiper-button-prev::after {
  font-family: 'FontAwesome';
  font-style: normal;
  content: '\f104';
  font-size: 3rem;
  -webkit-transform: translate(-15%);
          transform: translate(-15%);
}

.swiper-button-prev {
  position: absolute;
  top: 75%;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}

.for-buttons {
  display: none;
}

.map-layout-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 1fr;
      grid-template-columns: 1.25fr 1fr;
  padding-top: 10rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 1250px) {
  .map-layout-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 700px;
}

.map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #22001c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 700px;
  position: relative;
}

.map-wrapper img {
  height: 450px;
  width: 680px;
}

.map-wrapper .map-image {
  font-size: 1.6rem;
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226534/dehradun_2_orsp7b.jpg");
  background-size: cover;
  background-position: center;
  height: 70px;
  width: 75px;
  background-color: black;
  opacity: 1;
  position: absolute;
  border-radius: 1rem;
}

.map-wrapper .map-image.loc-dehradun {
  top: 30px;
  left: 102px;
}

.map-wrapper .map-image.loc-noida {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226299/delhi_1_dbjy1r.jpg");
  top: 14px;
  left: 365px;
}

.map-wrapper .map-image.loc-indore {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 40px;
  left: 450px;
}

.map-wrapper .map-image.loc-pune {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 100px;
  left: 625px;
}

.map-wrapper .map-image.loc-mumbai {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 210px;
  left: 550px;
}

.map-wrapper .map-image.loc-hyderabad {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 300px;
  left: 620px;
}

.map-wrapper .map-image.loc-chennai {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 310px;
  left: 455px;
}

.map-wrapper .map-image.loc-bangalore {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 380px;
  left: 357px;
}

.map-wrapper .map-image.loc-ahmedabad {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 360px;
  left: 96px;
}

.map-wrapper .map-image.loc-kota {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 270px;
  left: 1px;
}

.map-wrapper .map-image.loc-gurgaon {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 200px;
  left: 80px;
}

.map-wrapper .map-image.loc-delhi {
  background-image: url("https://res.cloudinary.com/shubhamrangaa/image/upload/v1601226302/indore_1_zwaan2.jpg");
  top: 105px;
  left: 26px;
}

.map-wrapper .map-image::before, .map-wrapper .map-image::after {
  position: absolute;
  top: -.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-100%) scale(0);
          transform: translateX(-50%) translateY(-100%) scale(0);
  -webkit-transition: 200ms -webkit-transform;
  transition: 200ms -webkit-transform;
  transition: 200ms transform;
  transition: 200ms transform, 200ms -webkit-transform;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.map-wrapper .map-image::before {
  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  background: #333;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.map-wrapper .map-image:hover::before {
  -webkit-transform: translateX(-50%) translateY(-100%) scale(1);
          transform: translateX(-50%) translateY(-100%) scale(1);
}

.map-wrapper .map-image:hover::after {
  -webkit-transform: translateX(-50%) translateY(0px) scale(1);
          transform: translateX(-50%) translateY(0px) scale(1);
}

.map-wrapper .map-image::after {
  content: '';
  border: 10px solid transparent;
  border-top-color: #333;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.map-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-info h2 {
  font-size: 4.2rem;
  line-height: 4.5rem;
}

.map-info h5 {
  font-size: 2rem;
}

.map-info li {
  text-decoration: none;
  font-size: 2.3rem;
  color: #333;
  list-style-type: none;
  line-height: 3.9rem;
}

.info-headings {
  padding-bottom: 3rem;
}

.info-cities ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1250px) {
  .info-cities ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1050px) {
  .for-buttons {
    display: block;
  }
  .map-container, .map-info {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */